body{
  background-color: lightgray;
  color: black;
  font-family: 'Roboto Mono',monospace;
  font-style: normal;
  font-weight: 400;
}



img{
    height: 11%;
    width: inherit;
    float: ;
}




a:link {
  color: rebeccapurple;
}

a:visited {
  color: rebeccapurple;
}







