body{
  background-color: lightgray;
  color: black;
  font-family: ocr-a-std;
  font-style: normal;
  font-weight: 400;
}

}

img{
    height: 11%;
    width: inherit;
    float: ;
}

p{
    font-family: ocr-a-std;
    font-style: normal;
    font-weight: 400;
}
 
    
}


a:link {
  color: #663399;
}

a:visited {
  color: #663399;
}








