body{
  background-color: lightgray;
  color: black;
  font-family: "OCR A Std";
}

img{
    height: 11%;
    width: inherit;
    float: ;
}

p{
    font-family: "OCR A Std";
    font-size: small; 
    
}


a:link {
  color: black;
}

a:visited {
  color: red;
}








